HOST=http://localhost:3000
TUS_HOST=http://127.0.0.1:1088
INITEMAIL=admin@admin.com
INITPASSWORD=adminadmin
MONGO_URL=mongodb://tftg:tftg@localhost:27017/tftg
EMAIL_URL=tftg.cloud
LOCAL_TG_SERVER=https://api.telegram.org #local server http://0.0.0.0.8081
SESSION_SECRET=thisismytimesecret
JWTSECRET=thisismybaimoejwtsecret