footer.footer.footer-transparent.d-print-none
  .container-xl
    .row.text-center.align-items-center.flex-row-reverse
      .col-lg-auto.ms-lg-auto
        ul.list-inline.list-inline-dots.mb-0
          li.list-inline-item
            a.link-secondary(href='https://tftg.cloud' target='_blank' rel='noopener') Documentation
          li.list-inline-item
            a.link-secondary(href='https://github.com/tabler/tabler' target='_blank' rel='noopener') Source code
      .col-12.col-lg-auto.mt-3.mt-lg-0
        ul.list-inline.list-inline-dots.mb-0
          li.list-inline-item
            | Copyright &copy; 2024
            a.link-secondary(href='https://tftg.cloud') TFTG
            | .
            |                     All rights reserved.
          li.list-inline-item
            a.link-secondary(href='https://tftg.cloud' rel='noopener')
              | v1.0.0